<ion-view title="PhotoUpload">
   
    <ion-content>
	  {{"Cash record created successfully, Please upload images of cash, payment & invoice !! ("+cash_id+""+loggedin_name+")"}}<br/>
      <br/>Cash:<br/>
      <img ng-src="{{pathForImage(cashImage)}}" ng-show="cashImage != null" style="width: 25%; height: 25%;">
	   <br/>Payment:<br/>
     <img ng-src="{{pathForImage(paymentImage)}}" ng-show="paymentImage != null" style="width: 25%; height: 25%;">
     <br/>Invoice:<br/>
     <img ng-src="{{pathForImage(invoiceImage)}}" ng-show="invoiceImage != null" style="width: 25%; height: 25%;">

    </ion-content>
    <ion-footer-bar class="bar bar-positive">
      <div class="button-bar">
	
        <button class="button icon-left ion-camera" ng-click="chooseImageType()">Take Photo</button>
        <button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="cashImage==null&&paymentImage==null&&invoiceImage==null">Upload</button>
      </div>
    </ion-footer-bar>
</ion-view>