<ion-view cache-view="false" title="Record Detail">
    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{image_url}}" ng-show="image_url != null" width="100%" height="auto" style="width: 30%; height: auto;">
        <img ng-src="{{payment_image_url}}" ng-show="payment_image_url != null" width="100%" height="auto" style="width: 30%; height: auto;">
        <img ng-src="{{invoice_image_url}}" ng-show="invoice_image_url != null" width="100%" height="auto" style="width: 30%; height: auto;">
        <div class="button-bar">
            <button class="button button-positive button-clear button-block  icon ion-camera"  ng-click="photoupload()"></button>
           
            <button class="button button-balanced button-clear button-block  icon ion-trash-a" ng-click="cashDelete()"></button>
        </div>
        <div class="list card">
            <div class="item item-divider">Description</div>
            <div class="item item-body">
                <div>
				 
					<p>ID : {{id}}<p>
                    <p>Desc:{{desc}}</p>
					<p>PayFrom:{{pay_from}}</p>
					<p>PayTo:{{pay_to}}</p>
					<p>HKD:{{hkd}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>